.box {
  width: 150px;
  height: 150px;
}

.first {
  background-color: #60d0a8;
  margin-bottom: 20px;
}

.second {
  background-color: #6495ed;
  position: relative;
  top: 30px;
  left: 10px;
}

.third {
  background-color: #ffa500;
}
